<% provide(:title, 'About') %>
<div class="main about"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-md-6 thumbnail"> 
                <img alt="Me" 
                src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1530437_10202897047336074_1043920935_n.jpg?oh=2004971a5feaada1f8dba0cde2817079&oe=560536CA" /> 
            </div> 
            <div class="col-md-6"> 
                <h2>About me</h2> 
                <p>I am a third year student studying Bioinformatics, Computational
                Biology, and Computer Science at the University of Toronto, 
                St. George campus.</p> 
                <p>My major interests are in the intersection of technology and
                health. I hope to help people lead better lives through my 
                creations.</p> 
            </div> 
        </div> 
    </div> 
</div>