<% provide(:title, 'Welcome') %>
<div class="home main">
    <div class="jumbotron">
        <div class="container">
            <h1>Hello. My name is <span class="highlight">Leon Xu</span></h1>
            <h2>and I want to learn through creation.</h2> 
            <%= link_to "View my work", portfolio_path, class: "btn right" %>
        </div>
    </div>
</div>