<div class="footer"> 
    <div class="container"> 
        <ul class="social_media"> 
            <li><a class="github" href="https://github.com/LLYX">github</a>
            </li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/llyx95">linkedin</a></li> 
            <li><a class="resume" href='/resume'>resume</a></li> 
        </ul> 
        <p>&copy; 2015 Leon Xu</p> 
    </div> 
</div>